@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nova+Mono&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Comfortaa', sans-serif;
    color: #f6e4c4;
    margin-top: 10vh;
}

.name {
    color: #29c6cd;
    font-weight: 400;
}

h1 {
    font-size: 4rem;
    font-family: 'Nova Mono', sans-serif;
    text-align: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
}

/* IDs */

#weatherApp {
    display: flex;
    justify-content: center;
    min-width: 60vw;
    min-height: 80vh;
    flex-direction: column;
    background-color: #f19584;
    border-radius: 2rem;
}

#weatherDatas {
    margin: 3rem 0rem;
    display: flex;
    justify-content: space-around;
}

#otherInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#iconTemp {
    display: flex;
    flex-direction: column;
}

#inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#cityTemp, #weatherDatas .name {
    font-size: 2rem;
    color: #29c6cd;
    font-weight: 600;
}

/* classes */

.descrip {
    display: flex;
    margin: 0.4rem 0rem 0rem 0rem;
}

.label {
    display: none;
    padding-right: 1rem;
}

/* input fields */

input[type='text'] {
    min-width: 20vw;
    min-height: 5vh;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
}

input[type='submit'] {
    border: none;
    border-radius: 0.5rem;
    background-color: #f6e4c4;
    font-size: 2rem;
    color: #f19584;
    min-width: 8vw;
    min-height: 5vh;
}